<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<title>Menu</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-toggleable" th:fragment="navMenu">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">Game collection</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/console}">Console</a></li>
					<li><a th:href="@{/game}">Video games</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div th:fragment="scripts">
		<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	</div>
</body>
</html>